<h1>Editing Jury Challenge Membership</h1>

<%= render 'form', jury_challenge_membership: @jury_challenge_membership %>

<%= link_to 'Show', @jury_challenge_membership %> |
<%= link_to 'Back', jury_challenge_memberships_path %>
