@import 'bulma';
@import 'navbar';
@import 'sidebar';

html {
  font-family: Montserrat, sans-serif;
  background: #fff;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.main-content {
  margin: 100px 0 0 240px;
  padding: 30px 40px;
}

@import 'challenges';
