#sidebar
  = image_tag 'logo_light.svg', id: 'logo'

  %ul
    %li{class: controller_name == 'dashboard' ? 'active' : nil}
      = link_to 'Dashboard', manager_dashboard_index_path
    %li{class: controller_name == 'challenges' ? 'active' : nil}
      = link_to 'Challenges', manager_challenges_path
    %li{class: controller_name == 'teams' ? 'active' : nil}
      = link_to 'Teams', manager_teams_path
  %hr
