%div{style: 'text-align: center;'}
  = link_to text, link, style: 'display: inline-block;  font-size: 24px;  font-weight: 200;  text-align: center;  color: #ffffff;  height: 50px;  line-height: 50px;  text-decoration: none;  border-radius: 25px; background-image: linear-gradient(81deg, #ffc837, #ff8008);  box-shadow: 0 0 20px 0 #cd7725;  padding: 0 25px;  margin: 20px 0'
