%h1 Editing Team Challenge Membership
= render 'form', team_challenge_membership: @team_challenge_membership
= link_to 'Show', @team_challenge_membership
|
= link_to 'Back', admin_team_challenge_memberships_path
