- content_for :navigation do
  Equipes
- content_for :page_title do
  Equipes - Let's Dev !


%h1 Listing manager_teams
%ul
  - @teams.each do |t|
    %li
      = t.name

%br

= link_to 'New Team', new_manager_team_path
