@import 'bulma';

html {
  background-size: cover;
  background: #000 url(background.png) no-repeat fixed center center;
}

body {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

@import 'mixins';
@import 'home';
@import 'sessions';
@import 'challenges';
@import 'shared/challenge_card';
