header {
  padding: 40px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 50px;
  }

  .right {
    margin-left: auto;

    a {
      color: #fff;
      font-size: 18px;
      margin: 0 20px;
      font-weight: 300;
      transition: all 0.3s ease;

      &:hover {
        background: -webkit-linear-gradient(45deg, #ffc837, #ff8008);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.active {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          background: -webkit-linear-gradient(5deg, #ffc837, #ff8008);
          height: 1px;
          bottom: -10px;
          left: 0;
          right: 0;

        }
      }

      &.login-button {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        border-radius: 25px;
        padding: 0 25px;
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
        margin: 0;

        @include border-gradient(#ffc837, #ff8008);

        &:hover {
          background: inherit;
          background-image: linear-gradient(81deg, #ffc837, #ff8008);
          -webkit-text-fill-color: #fff;
          box-shadow: none;
        }
      }
    }
  }
}

.main-content {
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-size: 48px;
    font-weight: 200;
    color: #fff;
    text-align: center;

    .home-language {
      font-weight: 600;
      display: inline;
      background: -webkit-linear-gradient(45deg, #ffc837, #ff8008);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .steps {
    display: flex;
    flex-direction: row;
    color: #fff;

    .step {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: 200;
      font-size: 28px;

      .mdi {
        margin: 0 20px;
        font-size: 36px;
      }
    }
  }

  .engage {
    a {
      display: block;
      font-size: 36px;
      font-weight: 300;
      text-align: center;
      color: #ffffff;
      height: 80px;
      line-height: 80px;
      text-decoration: none;
      border-radius: 40px;
      background-image: linear-gradient(81deg, #ffc837, #ff8008);
      box-shadow: 0 0 20px 0 #cd7725;
      padding: 0 40px;
      margin: 40px 0;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 0 30px 0 #cd7725;
      }
    }
  }
}
